In [33]:
import pandas as pd
import numpy as np

In [34]:
data_dir = './dataset/'
df = pd.read_csv(data_dir+'train.csv')
df.sample(5)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
15524,28f9c68b3f066089,"I am sorry, but I believe you are erroneously ...",0,0,0,0,0,0
19683,33ff474f09c50a93,"""===Review Upholds: """"24 3RR Hours Block by Us...",0,0,0,0,0,0
130568,ba76eab138456823,"""\n\nOf course deletion is done. The lynch mob...",0,0,0,0,0,0
114804,65ef089c977a0ebe,"""\n\n Rename the Article \n\nI think to resolv...",0,0,0,0,0,0
63518,a9f81a26404a21b1,"""\n\nAgreed. Using """"the"""" is inappropriate in...",0,0,0,0,0,0

In [35]:
df.dtypes

id               object
comment_text     object
toxic             int64
severe_toxic      int64
obscene           int64
threat            int64
insult            int64
identity_hate     int64
dtype: object

* drop `id` column
* compress 6 label columns to 1 column of list, then drop these 6 columns

In [36]:
if 'id' in df.columns: df.drop('id', axis = 'columns', inplace=True)
label_cols = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
if all(col in df.columns for col in label_cols): 
    df['labels'] = df[label_cols].apply(lambda x: list(x), axis = 'columns')
    df.drop(label_cols, axis='columns', inplace=True)

In [37]:
df.head()

                                        comment_text              labels
0  Explanation\nWhy the edits made under my usern...  [0, 0, 0, 0, 0, 0]
1  D'aww! He matches this background colour I'm s...  [0, 0, 0, 0, 0, 0]
2  Hey man, I'm really not trying to edit war. It...  [0, 0, 0, 0, 0, 0]
3  "\nMore\nI can't make any real suggestions on ...  [0, 0, 0, 0, 0, 0]
4  You, sir, are my hero. Any chance you remember...  [0, 0, 0, 0, 0, 0]

In [38]:
df.dtypes

comment_text    object
labels          object
dtype: object

In [39]:
df.to_csv(data_dir+'processed_train.csv', index=False)